/.venv
/.idea/Pdf-Rag.iml
/.idea/workspace.xml
/.idea/shelf/25__6__30__오후_11_39,_업데이트_전에_커밋되지_않은_변경_내용_[변경]1/shelved.patch
/.idea/shelf/25__6__30__오후_11_39,_업데이트_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/git_toolbox_prj.xml
